html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
  }

.secoes__titulo {
    font-size: 1.8rem;
}

.secoes__traco {
    border-bottom: solid #5921AA 1px;
    width: 50px;
    margin-top: 10px;
}

.secoes__barra {
    background: #5921AA;
    height: 25px;
}

.icone_up-disable {
    display: none;
}

.icone_up {
    background: #5921AA;
    width: 35px;
    height: 35px;
    
}
.icone_up:hover {
    background-color: #2A0B5B;
}

.fa-angle-up {
    color: #ffffff;
    bottom: 5px;
    right: 5px;    
}