.topo {  
    background-image: url(../img/banner2.jpg);
    height: 504px; 
}

.menu_scroll {
    background: #5921AA;
    transition: all 0.2s;
}

.container__frase {
   width: 40%;
}

.frase__topo {
    font-size: 1.7rem;
}

.frase__traco {
    border-bottom: solid #ffffff 1px;
    width: 200px;
}

.button__topo {
    background-color: #5921AA;
    margin-top: 25px;
    font-weight: 500;
    padding: 8px 25px;
}

.button__topo:hover {
    background-color: #2A0B5B;
    text-decoration: none;
}